// Tags
html.toggled,
body.toggled{
	height: 100%;
	overflow: hidden;
}
body{
	color: $cblack;
	font-size: 14px;
	font-family: $ffbase, sans-serif;
	font-weight: 400;
	line-height: 1;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: rgba($cblack, 0);
}
a{
	color: $ccorp;
	text-decoration: none;
	outline: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
	&:hover,
	&:focus{
		text-decoration: none;
	}
	&:hover{
		color: $cbase;
	}
	&:focus{
		color: $ccorp;
	}
}
// Tags
// Map
div.map{
	width: 100%;
	height: 400px;
}
// Map
// SVG stroke for animation
svg.dashed{
	fill: none;
	path{
		transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
	}
	&:hover{
		path{
			stroke-dashoffset: 0 !important;
		}
	}
}
// SVG stroke for animation
// Socials
div.socials{
	ul{
		@extend .no-list;
		display: flex;
		li{
			margin-right: 15px;
			&:last-child{
				margin-right: 0;
			}
			a{
				@extend .flex;
				width: 20px;
				height: 20px;
				color: $ccorp;
				font-size: 15px;
				&:hover{
					color: $cbase;
				}
			}
		}
	}
}
// Socials
// Container
div.container{
	margin: 0 9vw;
	@media(max-width: 768px){
		margin: 0 20px;
	}
}
// Container
div.more{
	display: flex;
	a{
		display: flex;
		align-items: center;
		span{
			color: $cblack;
			font-size: 1.2vw;
			z-index: 2;
			@media(max-width: 1280px){
				font-size: 1.4vw;
			}
			@media(max-width: 1024px){
				font-size: 16px;
			}
			@media(max-width: 768px){
				font-size: 14px;
			}
		}
		img{
			width: 3.4vw;
			transform: translateX(-25%);
			z-index: 1;
			@media(max-width: 1280px){
				width: 3.7vw;
			}
			@media(max-width: 1024px){
				width: 50px;
			}
			@media(max-width: 768px){
				width: 45px;
			}
		}
		&:hover{
			img{
				transform-origin: left center;
				transform: scale(0.8);
			}
		}
	}
}
div.see_more{
	margin-top: 3vw;
	margin-bottom: 4vw;
	padding: 0 7vw;
	@media(max-width: 768px){
		margin-bottom: 50px;
		padding: 0 30px;
	}
	@media(max-width: 576px){
		padding: 0 20px;
	}
	a{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 60px;
		padding: 0 15px;
		color: $cblack;
		font-size: 20px;
		text-align: center;
		text-transform: uppercase;
		border: 1px solid $ccorp;
		@media(max-width: 1366px){
			height: 55px;
			font-size: 18px;
		}
		@media(max-width: 1280px){
			height: 50px;
			font-size: 16px;
		}
		@media(max-width: 1024px){
			height: 45px;
			font-size: 14px;
		}
		&:hover{
			color: $cwhite;
			background-color: $ccorp;
		}
	}
}