section.banner{
	height: 100vh;
	&.small{
		height: 500px;
	}
	figure.bak{
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 1;
		img{
			@extend .fit-cover;
			@extend .no-select;
			z-index: 1;
		}
		&:after{
			@extend .overlay;
			background-color: rgba($cdark, 0.8);
			z-index: 2;
		}
	}
	img.callout_big{
		position: absolute;
		width: 16.5vw;
		top: 6vw;
		right: 10vw;
		z-index: 2;
		@media(max-width: 768px){
			top: 15vw;
			right: 15vw;
		}
	}
	img.callout_small{
		position: absolute;
		width: 13.3vw;
		top: 6vw;
		left: 10vw;
		z-index: 2;
		@media(max-width: 768px){
			width: 17vw;
			top: 13vw;
			right: 15vw;
		}
	}
	div.banner_texts{
		display: flex;
		align-items: center;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		color: $cwhite;
		z-index: 2;
		@media(max-width: 576px){
			flex-direction: column;
			width: 70vw;
			text-align: center;
		}
		div.banner_left{
			margin-right: 20px;
			@media(max-width: 576px){
				margin-right: 0;
			}
			h3{
				font-size: 3vw;
				white-space: nowrap;
				z-index: 2;
				@media(max-width: 1366px){
					font-size: 3.3vw;
				}
				@media(max-width: 1280px){
					font-size: 36px;
				}
				@media(max-width: 1024px){
					font-size: 28px;
				}
				@media(max-width: 768px){
					font-size: 40px;
				}
			}
			h4{
				@extend .trans-4;
				position: absolute;
				width: 100%;
				left: 0;
				top: 0;
				transform: translate(-15%, -35%);
				color: transparent;
				font-size: 5vw;
				line-height: 1;
				-webkit-text-stroke-width: 1px;
				-webkit-text-stroke-color: $ccorp;
				z-index: 1;
				@media(max-width: 1280px){
					font-size: 6vw;
				}
				@media(max-width: 1024px){
					font-size: 54px;
				}
				@media(max-width: 768px){
					transform: translate(-3%, -20%);
					font-size: 44px;
				}
			}
			&:hover{
				h4{
					color: $ccorp;
				}
			}
		}
		div.banner_right{
			width: 20vw;
			font-size: 1.25vw;
			line-height: 1.4;
			@media(max-width: 1366px){
				width: 27vw;
				font-size: 1.7vw;
			}
			@media(max-width: 1280px){
				font-size: 18px;
			}
			@media(max-width: 1024px){
				width: 34vw;
				font-size: 16px;
			}
			@media(max-width: 576px){
				width: auto;
			}
		}
	}
}